<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ayuthaezhuthu.apptimelock">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" /><!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_hourglass"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppTimeLock"
        >
        <activity
            android:name="com.ayuthaezhuthu.apptimelock.AppListHomeActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ayuthaezhuthu.apptimelock.LockerActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <!--
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        -->

        <activity
            android:name="com.ayuthaezhuthu.apptimelock.AddAppActivity"
            android:excludeFromRecents="true"

            android:screenOrientation="portrait"
            android:label="@string/app_name" />

        <service
            android:name="com.ayuthaezhuthu.apptimelock.services.AppMonitorService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.dfoeindia.one.steadystate.AppMonitorService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.ayuthaezhuthu.apptimelock.receiver.StartServiceAtBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartServiceAtBootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.ayuthaezhuthu.apptimelock.AppUsageCollectionJobService"
            android:exported="true" />
        <service
            android:name="com.ayuthaezhuthu.apptimelock.services.ResetForgroundTimeService"
            android:exported="false" />

        <activity
            android:name="com.ayuthaezhuthu.apptimelock.WarningDialogActivity"

            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.ayuthaezhuthu.apptimelock.SplashActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ayuthaezhuthu.apptimelock.CustomPinActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>